.locationList {
  height: calc(100vh - 64px);
  overflow: auto;
}
@media screen and (max-width: 64em) {
  .locationList {
    height: calc(50vh - 64px);
  }
}

.forecastTitle {
  color: #666;
  text-align: center;
  padding: 15px 0;
}